### Markdown Basics

* **Bold** <br>
* *Itallic* <br>
* ***IB***
* Normal Text
    * Sublist 1
    * Sublist 2
    
    
1. Ordered list element 1
2. Ordered list element 2

<http://google.com>

I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"

-[] Option 1
-[] Option 2
-[x] Option 3


[jupyter Logo](jupyterlogo.png)

![jupyter Logo](jupyterlogo.png)

### Python Basics
Python version 3.7

- Scripting
- Object oriented
- Functional

In [6]:
#python comments

print("Good Afternoon 1",end=" ") #basic output
print ("hello python")

Good Afternoon 1 hello python

### Assignment

In [16]:
n1 = 123456 # single variable Assignment

n2=n4=n3=n1  #multi variable assignment of the single value
n3
a, b, c = 123, 234, 345   # multi variable assignment with different values
print (a, b, c)

123 234 345

### Data Types

- int
- float
- string

In [42]:
type(a)
s1 = "Python"
type (s1)

f1 = 12.345
type (f1)

int(f1)

str(int(f1))

float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [48]:
n1 % 123456
n2 ** 12
n3 = n2 ** 12
type (n3)
len(str(n3))

n3
atoms = 10 ** 72
atoms

1000000000000000000000000000000000000000000000000000000000000000000000000

### Conditionals

In [52]:
atoms < 10 ** 79

if atoms <= 10 ** 72:
    
    print ("TRUE")
else:
    print ("False")

TRUE

In [1]:
# calculate sqaure root
n1 = 123
n1 ** 0.5

11.090536506409418

In [ ]:
# calculate the num of nano sec in a year
year = 2019
if year % 400 == 0 or (year % 100 ! = 0 and year % )
print(365 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * )