# Problem Solving and Programming
#### Date 12 june 2019
 
 ### Day Objectives
- String Slicing
- Functions in Python
- Basic Problems related to conditional statements using functions
- Iteration in python
- Python data structures - Lists,Tuples and dictionaries
- Basic operations on data structures

### String Slicing

In [86]:
s1 = "python"

s1 

s1 [0]               # Accessing of the first charcter in a string
s1 [1]               # Accessing of the second charcter in a string
s1 [5]               #use anyone to know last digit
s1 [-1]
s1[len(s1)-1]        # use this for long strings and u dont know the the length of the string 
s1 [-2]              # Accessing the last but one character 
s1[0:5]              # Accessing the two letters

s1[-2:]              # Accessing the last two letters in a string if string is long (dont know string size)
s1[4:]               # Another way to get last two letters if you know the string size i.e, 5

# Accessing all characters except first and last character
s1 [1:-1]

# Accessing the middle character in a string
s1[len(s1)//2]

s1[-1::-1] #reverse a string

s1[-1:-3:-1] #Accessing last two characters in reverse order


# reverse the middle two characters in an even length string

   # s1[len(s1)//2:len(s1)//2-2:-1]
    
# Accessing alternate characters in a string
s1[::2]

# Accessing alternate characters in reverse order
s1[::-1]

'nohtyp'

### Functions

In [84]:
# Function to reverse a string
def reversestring(s):
    return s[::-1]
reversestring("Python")

'nohtyP'

In [90]:
# Function to check if string is a palindrome
def palindrome(s):
    if s == s[::-1]:
        return True
    else:
        return False
palindrome("tot") #Exmple of palindrome is racecar,123321,pop...etc

True

In [101]:
# check if given year is a leap year
def isleapyear(year):
    if year % 4 == 0: 
     return True
    return False
isleapyear (2017)

False

In [1]:
# Function to count the number of digits ina given number
def leapyearnum(count):
    return len(str(count))
leapyearnum (12345)

5

In [ ]:
#Function to identify the greatest of 4 numbers

In [74]:
type (True) #boolean data type
type (12)   #int data type
type ("python")   #String data type
type (12.3)   #Float data type

float

In [47]:
a = 12
print(a,type(a))

12 <class 'int'>

In [52]:
a = "hello"
print (a,type(a))

hello <class 'str'>

In [53]:
print (a,type(a)) #python is a line by line executed language

hello <class 'str'>

In [14]:
print(2 or 7)
print(7 and 10)
print(-7 and 6)
print(0 and 4)
print (True + True)
"g"*6

2
10
6
0
2

'gggggg'

In [15]:
if 0:
    print("zero")
else:
    print("not zero")

not zero

In [21]:
i=0
while 0=0:
    print(i)
i

SyntaxError: invalid syntax (<ipython-input-21-b62975cae4c7>, line 2)

### Iteration
- for
- while

In [15]:
# Function to print n natural numbers
def printn(n):
    for counter in range (1, n+1):
        print(counter, end=" ")
        
    return 

printn(30)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [1]:
def printnnum(n):
    counter = 1
    while counter<=n:
        print(counter,end=" ")
        counter=counter+1  
    return

printnnum(20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [35]:
# Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb,ub) inclusive

def divisible(lb,ub):

    for t in range(lb,ub+1):
        if (t % 6 == 0 and 100 % t !=0):
            print(t)
            
          
divisible(22,122)

24
30
36
42
48
54
60
66
72
78
84
90
96
102
108
114
120

In [16]:
# average of first N prime members

def avgNprimes(n):
    primecount = 0
    sum = 0
    seqcount = 2
    while(primecount < n):
        if isprime(seqcount):
            primecount+=1
            sum+=seqcount
            seqcount+= 1
    return sum/n
    
    
avgNprimes(1)

NameError: name 'isprime' is not defined

In [11]:
# print num in reverse order in same line
def order(a,b):
    for value in range(b,a-1,-1):
         print(value, end = " ")
    return

order(1, 10)

10 9 8 7 6 5 4 3 2 1

In [14]:
# FUNCTION TO CALCULATE THE SUM OF NUMBER IN A RANGE

def sumrange(start, end):
    sum = 0
    for i in range(start,end+1):
        sum = sum+i
    return sum
sumrange(100, 200)

15150

In [21]:
# Function to calculate the average of given range
def avgnum (lb,ub):
    sum =0
    count =0
    for i in range (lb,ub+1):
    
        sum = sum+i
   
        count = count +1    
    return sum/count

avgnum(100, 200)

150.0

In [25]:
# function sum of caluculate the given range

def sumofnum (lb,ub):
    sum=0     #print the values upto final value from strating value
    for i in range (lb,ub+1):
        sum = sum+i
        print (sum, end =" ")
    return
sumofnum (100, 200)

100 201 303 406 510 615 721 828 936 1045 1155 1266 1378 1491 1605 1720 1836 1953 2071 2190 2310 2431 2553 2676 2800 2925 3051 3178 3306 3435 3565 3696 3828 3961 4095 4230 4366 4503 4641 4780 4920 5061 5203 5346 5490 5635 5781 5928 6076 6225 6375 6526 6678 6831 6985 7140 7296 7453 7611 7770 7930 8091 8253 8416 8580 8745 8911 9078 9246 9415 9585 9756 9928 10101 10275 10450 10626 10803 10981 11160 11340 11521 11703 11886 12070 12255 12441 12628 12816 13005 13195 13386 13578 13771 13965 14160 14356 14553 14751 14950 15150

In [26]:
# function sum of caluculate the given range

def sumofnum (lb,ub):    #only print the final sum value
    sum=0
    for i in range (lb,ub+1):
        sum = sum+i
    return sum
sumofnum (100, 200)

15150

In [33]:
# Function to print reverse order
def rorder (a,b):
    for i in range (b,a-1,-2):
        print (i,end = " ")
    return
rorder(50,100)

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50

In [37]:
# Function to print 1 to 100 numbers
def num(lb,ub):
    for i in range (lb, ub+1):
        print (i,end =" ")
    return
num(1,100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [39]:
# Function to print 1 to 100 in reverse order
def rnum(lb,ub):
    for i in range (ub,lb-1,-1):
         print (i,end =" ")
    return
rnum(1,50)

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1