In [14]:
def factors(n):
    for a in range (1,n):
        n=n*a
    print(n)
    return
#a=int(input())
factors(2)

2

In [20]:
# FOR UPPER CASE TO LOWER CASE

a = "BHARAT"
print(a.lower())

BHARAT

In [32]:
a = (input("enter"))
a

#a = "abcd"
#a.split()
#b=a.upper()
#b

enter11

'11'

In [15]:
a = (input("enter a value"))
sum=0
b= (input("enter b value"))
sum= a+b
sum
#print(c)

enter a value1
enter b value1

'11'

In [19]:
a= str(input("enter input"))
r= (a.swapcase())
r

enter inputbharat

'BHARAT'

In [23]:
n=2
for a in range(1,n):
    n=n*a
print(n)

2

In [12]:
s=int(input())

def nprime(r):
    for a in range(2,r+1):
        flag = 1
        for i in range(2,a//2+1):
            if (a%i==0):
                flag = 0
                break
        if flag:
            print(a,end=" ")
                
            #if(k<=0):

k=nprime(s)
print(k)

11
2 3 5 7 11 None

In [5]:
def nPrime(n):
    k = 0
    for i in range(2, n//2+1):
        if n % i == 0:
            break
        else:
            print(isprime)

nPrime(10)

In [13]:
n=int(input())
for i in range(n):
    z=int(input())
    print(z)

3
7
7
6
6
2
2

In [15]:
s1="hari"
s1=sorted(s1)
s1

['a', 'h', 'i', 'r']

In [9]:
# input take by user
def palindrome(n):
    if n==n[::-1]:
        return ("given name is palindrome ")
    else:
        return ("given name is not palindrome")
n =input("input value: ")
palindrome(n)

input value: trv

'given name is not palindrome'